In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [43]:
pd.DataFrame({'abbrev': ['geo', 'org', 'per', 'gpe', 'tim', 'art', 'eve', 'nat'],
                            'full': ['Geographical Entity', 'Organization', 'Person', 'Geopolitical Entity', 'Time indicator', 'Artifact', 'Event', 'Natural Phenomenon']})

  abbrev                 full
0    geo  Geographical Entity
1    org         Organization
2    per               Person
3    gpe  Geopolitical Entity
4    tim       Time indicator
5    art             Artifact
6    eve                Event
7    nat   Natural Phenomenon

In [57]:
pd.DataFrame({
      'geo': 'Geographical Entity',
      'org': 'Organization',
      'per': 'Person',
      'gpe': 'Geopolitical Entity',
      'tim': 'Time indicator',
      'art': 'Artifact',
      'eve': 'Event',
      'nat': 'Natural Phenomenon'
}.items(), columns=['abbrev', 'full'])

  abbrev                 full
0    geo  Geographical Entity
1    org         Organization
2    per               Person
3    gpe  Geopolitical Entity
4    tim       Time indicator
5    art             Artifact
6    eve                Event
7    nat   Natural Phenomenon

In [58]:
entity_abbr = pd.DataFrame({
      'geo': 'Geographical Entity',
      'org': 'Organization',
      'per': 'Person',
      'gpe': 'Geopolitical Entity',
      'tim': 'Time indicator',
      'art': 'Artifact',
      'eve': 'Event',
      'nat': 'Natural Phenomenon'
}.items(), columns=['abbrev', 'full'])

entity_abbr

  abbrev                 full
0    geo  Geographical Entity
1    org         Organization
2    per               Person
3    gpe  Geopolitical Entity
4    tim       Time indicator
5    art             Artifact
6    eve                Event
7    nat   Natural Phenomenon

In [7]:
!kaggle datasets download --file ner_dataset.csv --force abhinavwalia95/entity-annotated-corpus
!unzip -o ner_dataset.csv.zip
!rm -f ner_dataset.csv.zip

Downloading ner_dataset.csv.zip to /Users/brentbrewington/github/data-tools/named-entity-recognition
100%|██████████████████████████████████████| 3.17M/3.17M [00:02<00:00, 1.09MB/s]
100%|██████████████████████████████████████| 3.17M/3.17M [00:02<00:00, 1.20MB/s]
Archive:  ner_dataset.csv.zip
  inflating: ner_dataset.csv

In [8]:
df = pd.read_csv('ner_dataset.csv', encoding = "ISO-8859-1")
df = df[:100000]
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [9]:
df.isnull().sum()

Sentence #    95456
Word              0
POS               0
Tag               0
dtype: int64

In [11]:
df = df.fillna(method='ffill')
print(f"Unique Sentences: {df['Sentence #'].nunique()}\nUnique Words: {df.Word.nunique()}\nUnique Tags: {df.Tag.nunique()}")

Unique Sentences: 4544
Unique Words: 10922
Unique Tags: 17

In [14]:
tag_labels = 
tag_xref = pd.DataFrame()
df.groupby('Tag').size().reset_index(name='counts').

      Tag  counts
0   B-art      75
1   B-eve      53
2   B-geo    3303
3   B-gpe    1740
4   B-nat      30
5   B-org    1876
6   B-per    1668
7   B-tim    1823
8   I-art      43
9   I-eve      47
10  I-geo     690
11  I-gpe      51
12  I-nat      11
13  I-org    1470
14  I-per    1846
15  I-tim     549
16      O   84725